* {
   text-align: center;
}

.center {
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.full-height {
    height: 100lvh;
}

/* Font families */

/*h1, h2, h3, h4, h5, h6 {*/
/*   font-family: 'Luminari';*/
/*   color: green;*/
/*}*/

h1, h2, h3, h4, h5, h6 {
   font-family: "Cookie", cursive;
   font-weight: 400;
   font-style: normal;
}
