/*  PARALLAX  */
.parallax {
    will-change: scroll-position; /* Helps Safari with scrolling calculations */
    perspective: 100px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    /* Hide Scrollbar*/
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    ::-webkit-scrollbar {
        display: none;
    }
    .intro_screen {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        will-change: transform;
    }
    .outro_screen {
        height: 100vh;
        background-color: white;
        background-blend-mode: screen;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .parallax__group {
        position: relative;
        height: 100vh;
        transform-style: preserve-3d;
        -webkit-transform-style: preserve-3d;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .parallax__layer {
        position: absolute;
        inset: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /*scale(min) = 1 + ((translateZ * -1) / perspective);*/
    .parallax__layer-back {
        transform: translateZ(-100px) scale(2);
        -webkit-transform: translateZ(-100px) scale(2);
    }
    .parallax__layer-custom-back {
        transform: translateZ(-75px) scale(1.75);
        -webkit-transform: translateZ(-75px) scale(1.75);
    }
    .parallax__layer-mid-back {
        transform: translateZ(-50px) scale(1.5);
        -webkit-transform: translateZ(-50px) scale(1.5);
    }
    .parallax__layer-deep-back {
        transform: translateZ(-200px) scale(3);
        -webkit-transform: translateZ(-200px) scale(3);
    }
    .parallax__layer-base {
        transform: translateZ(0);
        -webkit-transform: translateZ(0);
    }
    .parallax__layer-mid-foreground {
        transform: translateZ(10px) scale(0.9);
        -webkit-transform: translateZ(10px) scale(0.9);
    }
    .parallax__layer-foreground {
        transform: translateZ(25px) scale(0.75);
        -webkit-transform: translateZ(25px) scale(0.75);
    }
    .parallax__layer-top {
        transform: translateZ(50px) scale(0.5);
        -webkit-transform: translateZ(50px) scale(0.5);
    }
}

#intro {
    z-index: 10;
    background-color: white;
}

#group-1 {
    height: 200vh;
    will-change: transform;

    > .parallax__layer-custom-back {
        will-change: transform;
        transform: translateY(-45vh) translateZ(-75px) scale(1.75);
        -webkit-transform: translateY(-45vh) translateZ(-75px) scale(1.75);
    }

    > .parallax__layer-deep-back {
        transform: translateZ(-200px) scale(3);
        -webkit-transform: translateZ(-200px) scale(3);
        background-image: url("../images/background3.jpg");
        background-color: rgba(255, 255, 255, 0.82);
        -webkit-background-blend-mode: screen;
        background-blend-mode: screen;
    }
    > .parallax__layer-mid-foreground {
        height: 100vh;
        transform: translateY(50vh) translateY(50vh);
        -webkit-transform: translateY(50vh) translateY(50vh);
    }
    > .parallax__layer-foreground {
        transform: translateY(50vh) translateZ(25px) scale(0.75);
        -webkit-transform: translateY(50vh) translateZ(25px) scale(0.75);
    }
}

#group-2 {
    height: 250vh;
    > .parallax__layer-back {
        transform: translateY(56vh) translateZ(-50px) scale(1.5);
        -webkit-transform: translateY(56vh) translateZ(-50px) scale(1.5);
    }
    > .parallax__layer-base {
        transform: translateY(20vh) translateZ(0);
        -webkit-transform: translateY(20vh) translateZ(0);
    }
    > .parallax__layer-mid-foreground {
        height: 50vh;
        transform: translateY(63vh) translateZ(20px) scale(0.8);
        -webkit-transform: translateY(63vh) translateZ(20px) scale(0.8);
    }
    > .parallax__layer-top {
        height: 100vh;
        transform: translateY(-20vh) translateZ(50px) scale(0.5);
        -webkit-transform: translateY(-20vh) translateZ(50px) scale(0.5);
    }
}

#group-3 {
    > .parallax__layer-base {
        transform: translateY(-20vh) translateZ(0);
        -webkit-transform: translateY(-20vh) translateZ(0);
    }
}

#group-4 {
    height: 150vh;
    z-index: -1;
    > .parallax__layer-mid-back {
        transform: translateY(50vh) translateZ(-50px) scale(1.5);
        -webkit-transform: translateY(50vh) translateZ(-50px) scale(1.5);
    }
    > .parallax__layer-deep-back {
        background-image: url("../images/background3.jpg");
        background-color: rgba(255,255,255,0.82);
        -webkit-background-blend-mode: screen;
        background-blend-mode: screen;
    }
}

#group-5 {
    height: 50vh;
    visibility: hidden;
}

#group-6 {
    z-index: -10;
    height: 100vh;
    > .parallax__layer-deep-back {
        background-image: url("../images/background3.jpg");
        background-color: rgba(255,255,255,0.82);
        -webkit-background-blend-mode: screen;
        background-blend-mode: screen;
    }
}

#outro {
    will-change: transform;
    .parallax__layer-back {
        background-color: grey;
    }
}
